In [ ]:
#introduction to tuple datatypes

In [14]:
students=('gagan','raghu','sudheer','afzal')
print('students')

students

In [2]:
type(students)

tuple

In [3]:
#req: i want to replace gagan name to keerthi

In [4]:
students[0]='keerthi'
print(students)

TypeError: 'tuple' object does not support item assignment

In [6]:
dimensions=(250,50)
print (dimensions)

(250, 50)

In [7]:
#here we cannot change/replace the items we need to create a entire new thing

In [10]:
dimensions=(300,90)
print(dimensions)

(300, 90)

In [11]:
#print tuple uding for loop

In [17]:
for x in students:
  print(x)

gagan
raghu
sudheer
afzal

In [16]:
print(students[1])

raghu