In [1]:
#for loop imlplemntation

In [2]:
#understanding range function usage

In [ ]:
#print numbers from  1 to 20 by using range along with for loop

In [4]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
# i want to print only even numbres from 0 t0 20

In [10]:
even_numbers=list(range(2,20,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#i want to print lidt of numbers from 1to 30

In [11]:
numbers=list(range(1,30))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
#i want to print list of odd numbers from 0 to 30

In [13]:
odd_numbers=list(range(1,30,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [15]:
#introduction to condition statements

In [16]:
cars=['audi','benz','hyundai','bmw','toyoto','maruthi']

In [17]:
#print a list of cars using condition loop wnere i want maruthi in upper case and all other in title

In [20]:
for x in cars:
 if x =='maruthi':
   print(x.upper())
 else:
   print(x.title())

Audi
Benz
Hyundai
Bmw
Toyoto
MARUTHI

In [21]:
#take childrens age as example for entry tickect for park using conditional loop

In [50]:
children_age = 6

In [51]:
if children_age <= 4:
    print('no entry fee')
elif children_age <= 10:
    print('entry fee 10 rupees')
else:
     print('fee is 15 rupees')

entry fee 10 rupees